.App {
  text-align: center;
}

.card {
  display: flex;
  margin: 15px;
  width: 100%;
}

.title {
  margin: 2px;
  font-size: 18px;
  font-weight: bold;
}

.info {
  margin: 2px;
}

.card_id {
  background-color: rgb(166, 228, 235);
  padding: 50px;
  font-weight: 700;
  font-size: 24px;
}

.card_text {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(213, 251, 255);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
